requests>=2.18.4
# -e git+git@github.com:NickolausDS/globus-identifiers-client@argument-field-changes#egg=globus-identifiers-client
# -e git+git@github.com:NickolausDS/globus-sdk-python@feature/native_auth#egg=globus_sdk