requests>=2.18.4
# -e git+git@github.com:globusonline/globus-identifier-client.git#egg=globus-identifier-client
# -e git+git@github.com:NickolausDS/globus-sdk-python@feature/native_auth#egg=globus_sdk