body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.text-center {
    text-align:center;
}

.bdds-navbar{
    background: #002f3d;
    margin-bottom: 0px;
}

.bdds-brand{
    font-size: 30px;
    margin-top:6px;

}
.bdds-big{
    font-family: "Unica One";
    color: #b20000;
}

.bdds-for{
    font-family: "Garamond",serif;
    font-style : italic;
    color: #888;
}

.bdds-discover{
    font-family: "Roboto", sans-serif;
    color: white;
}
